
<div class="homepage5">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="../assets/stylesheets/jquery.fullPage.css" />
 <link rel="stylesheet" type="text/css" href="../assets/stylesheets/examples.css" />





<div id="fullpage">
 
 <div class="section" id="section1">
  <div class="header">
	<div class="column">
		<div class="column1">
		  <div class="logo">
		  <i class="icon-star icon-large"></i> 
		  	<h4></h4>
		  	</div>
		</div>
		
		<div class="column2">
		  <h4></h4>
        </div>

        <div class="column1">
        	<h4></h4>
        	 <a href="" data-toggle="tooltip" data-placement="right" data-animation="false" id="basic-tooltip" data-title="new title"><div class="icon1">
		  	
		  </div></a>
        </div>

         <div class="column1">
        	<h4></h4>
        	 <a href=""><div class="icon2">
		  	
		  </div></a>
        </div>

         <div class="column1">
        	<h4></h4>
        	<a href=""><div class="icon3">
		  	
		  </div></a>
        </div>

         <div class="column1">
        	<h4></h4>
        	<a href=""> <div class="icon4">
		  	
		  </div></a>
        </div>
         <div class="column1">
        	<h4></h4>
        	 <a href=""><div class="icon5">
		  	
		  </div></a>
        </div>
        <div class="column2">
        	<h4></h4>
        </div>
        <div class="column2">
        	<button class="btn5">Pre-Order Now</button>
        </div>
	</div>
  </div>
    <div class="column">
  <div class="picture1">
  	<h4></h4>
  </div>
  </div>
  </div>
  
  

  

<div class="section" id="section2">  
  <div class="part3">
  	<div class="column6">
  	<img src="<%= image_path('box.jpg')%>" alt="">
  		<h4></h4>
  	</div>
  	<div class="column6">
    

  		<h1>Discover yourself</h1>
  		<h3>Cue is deep healt traker that lets you go</h3><h3> beyond traking steps and your weight</h3>
  		<div id="div1">
  			<h3>Easily acces deepest information from your body</h3>
  		</div>
  		<div id="div2">
  			<h3>Load a cartridge</h3>
  		</div>
  		<div id="div3">
  			<h3>And load a result on your Phone</h3>
  		</div>
  	</div>
  </div>
  </div>
  
  

   <div class="section" id="section3">
     <div class="part4">
     	<div class="column">
     		<div class="column7">
     			<h1>Information is Power</h1>
     			<h3>track your body at the molekular level</h3>
     			<h3>Proactively tune your diet an d exercise with teh help of Cue's smart recomondation</h3>
     			<h3>so that you create your best story</h3>
     		</div>
     		<div class="column5">
     			<div class="iphone">

           
     			

          	<h4></h4>
     			</div>
     		</div>
     	</div>
     </div>
     </div>
     

     <div class="section" id="section4">
     <div class="part5">
     
     	<h4></h4>
     	<div class="column6">
     		<h4></h4>
     	</div>
     	<div class="column6">
     		<h1>Empowering</h1>
     		<h3>Be most motivated, happy and healthy yourself</h3>
     	</div>
     </div>
     </div>
     </div>
</div>

