<div class="homepage4">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	 <div class="column1">
	 	<h4></h4>
	 </div>
	<div class="column2">
		<h4></h4>
		 <div class="logo">
	 
	</div>
	</div>
	<div class="column6">
	 
	<div class="headline">
	  <img src="<%= image_path('barcode2.png')%>" alt="">
		<h1>proizvodi.me</h1>
		<div class="hor-line">
			<h4></h4>
		</div>
		<h4>In publishing and graphic design, lorem ipsum is a place holder text. 
		In publishing and graic design, lorem ipsum is a place holder.</h4>
		 
		</div>

		 <div class="input-group">
      <input type="text" class="form-control" placeholder="Unesi svoju Email adresu">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Prijavi Se!</button>
      </span>
    </div>
    <div class="tagline">
    <h6>Budite blagovremeno obavjesteni o svim novostima vezanim za aplikaciju</h6>
    </div>
	</div>
	<div class="column3">
	

	</div>
</div>