
<div class="homepage3">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
<div class="column3">
 
	<h4></h4>
</div>
<div class="column6">
	<div class="body">
	
	
    
   
    	<h1>proizvodi.me</h1>
    
		<div class="hor-line">
			<h4></h4>
		</div>
		<div class="text">
		<h2>Info</h2>
		<h4>In publishing and graphic design, lorem ipsum is a placeholder text. 
		In publishing and graphic design, lorem ipsum is a placeholder text.
		In publishing and graphic design.</h4>
		</div>
		<div class="hor-line2">
			<h4></h4>
		</div>
		<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Unesi Ime i Prezime">
     <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Unesi Email adresu">
     <button class="btn5">Prijavi se</button>
  </div>
  
</form>
	</div>
</div>
<div class="column3">
	<h4></h4>
	<div class="logo">
	<img src="<%= image_path('uskoro.png')%>" alt="">
	</div>
</div>
</div>