
<div class="homepage2">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster|Roboto:500,400' rel='stylesheet' type='text/css'>
  <h4></h4>
  <div class="column2">
	<h4></h4>
  </div>
  <div class="column4">
    <div class="logo">
	  <img src="<%= image_path('1logo.gif')%>" alt="">
	  
	</div>
  </div>
  <div class="column6">
    <div class="headline">
  	  <h1>proizvodi.me</h1>
  	</div>  
  	<div class="log1">
  		<h4>Uskoro!!! Po prvi put u Crnoj Gori !!!</h4>
  		<h5>In publishing and graphic design, lorem ipsum is a placeholder text.</h5>
  	</div>
  	<div class="log2">
  		<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Unesi Ime i Prezime">
     <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Unesi Email adresu">
  </div>
  <button class="btn">Posalji</button>
</form>
  	</div>
  </div>



  






</div>