
   <div class="all">
   <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Arimo|Varela+Round' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Varela+Round|Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
	   
	   <div class="column2">
	   <h4></h4>
	   </div>
		<div class="column2">
		<div class="logo">
			<img src="<%= image_path('1logo.gif')%>" alt="">
			<h3>IDEUS</h3>
           </div>
		</div>
		
		<div class="column5">
		<div class="log">
		<h3>Budi u toku</h3>
		<h5>Unesi svoju mail adresu da bi blagovemeno dobijao sve novine u vezi nase aplikacije</h5>
			<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Unesi svoju Email adresu">
  </div>
  <button class="btn">Posalji</button>
</form>
		</div>
		</div>
	<div class="main-pic">
    <img src="<%= image_path('products.png')%>" alt="">
    </div>
   
    <div class="column2">
    	<h4></h4>
    </div>
    <div class="column7">
    <div class="headline">
    	<h1>Proizvodi.me</h1>
    </div>
    </div>


	</div>
	
	