<div class="one-product-page">

  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="product-card">
        <img src="<%= image_path('kajsija-130ml.jpg')%>" alt="">
          <div class="card-header">

          <span class="name">
           <a href="">Juvitana Kajsija</a>
            
          </span>
             <span class="details">
            <ul class="list-inline">
            <li>
             <div id="green">
                <a href=""><i class="glyphicon glyphicon-ok-sign"></i> </a>
                 </div>
                 </li>
                
                  </ul>
             </span>
        </div>
        
        <div class="card-body">
          <div class="description">
           <h5> Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</h5>
          </div>

         
        </div>

        <div class="card-footer">
          <ul class="stats">
            <li>
              <i class="glyphicon glyphicon-eye-open"></i> 789 
            </li>
            <li>
              <i class="glyphicon glyphicon-user"></i> 46
            </li>
            <li>
              <i class="glyphicon glyphicon-eye-open"></i> 588 
            </li>
          </ul>

           <button class="category">Vise Informacija</button>
         
        </div>
      </div>
    </div>
  
</div>


</div>