<div class="page-pic-right">
	<div class="column">
		<div class="column6">
			<img src="<%= image_path('ideus-logo-white.png')%>" alt="">
			<span class="headline">IDEUS</span>
		</div>
		<div class="column6">
			 <ul class="list-inline">
            <li>
              <a href="">TIM </a>
              <a href="">BLOG </a>
            </li>
          </ul>
		</div>
	</div>

	<div class="column">
		<div class="column6">
		<div class="text">
			<h1>Birajmo bolje zajedno</h1>
			<h2>Da li imate problema da izaberete najbolji proizvod za vas ili vaše najbliže</h2>
			<h2>Mi imamo. Zato otvaramo <strong>Ideus</strong>, online mjesto koje spaja ljude željne da nauče više o proizvodima kao i da to znanje podijele sa drugima</h2>
			</div>
		</div>
		<div class="column6">
			
			<div class="msg">
			<h3>Ukoliko našu ideju smatrate zanimljivom, iskoristite šansu i dajte svoj glas za <strong>Ideus</strong> na sajtu <a href="http://otvoreneideje.me/OI2014/">www.otvoreneideje.me.</a></h3></div>
		</div>
	</div>
	     <div class="scroll">
	      <a href=""><i class="glyphicon glyphicon-chevron-down"></i></a>
           </div>

</div>